@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&display=swap');

@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --color-background: #f8fafc;
    --color-dark: #000036;

    --color-heading: #16a34a;
    --color-body: #f8fafc;
    --color-placeholder: #64748b;

    --color-primary: #00eff1;
    --color-light: #ffe4e6;
    --color-border: #ededed;

    --color-success: #0e9a5f;
    --color-warning: #fdae1c;
    --color-danger: #ff4040;
    --color-info: #1c8bef;

    --font-heading: "Noto Sans Bengali", sans-serif;
    --font-body: "Noto Sans Bengali", sans-serif;
    --font-sans: "Noto Sans Bengali", sans-serif;
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }

    input::placeholder,
    textarea::placeholder {
        color: var(--color-gray-400);
    }

    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }

    dialog {
        margin: auto;
    }
}

@layer components {
    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 430px;
    }

}